@import "../common/variables";

$mdi-font-path: '~mdi/fonts/';
@import "~mdi/scss/materialdesignicons.scss";

// List styles - might move this to global eventually

.mdi {
  margin-bottom: -2px;
}

// Bullets
.mdi-brightness-1 {
  &.success {
    color: $success;
    &:hover {
      color: $success-hover;
    }
  }
  &.warning {
    color: $warning;
    &:hover {
      color: $warning-hover;
    }
  }
  &.danger {
    color: $danger;
    &:hover {
      color: $danger-hover;
    }
  }
}

#icons {
  .row {
    .col-sm {
      width: 100%;
    }
  }
  #task-list {
    .card-header {
      .mdi-plus {
        font-size: 20px;
        color: $accent;
      }
    }
    .card-body {
      .list-group {
        margin: -1px 1px -1px;
        border-radius: 0;
        .list-group-item {
          border: none;
          transition: all .5s ease;
          border-left: 2px solid white;
          border-bottom-left-radius: 0!important;
          border-top-left-radius: 0!important;
          &:hover {
            border-left: 2px solid $accent;
            .mdi-drag-vertical {
              color: $mute;
            }
          }
          &.is-active {
            color: $accent;
            border-left: 2px solid $accent;
            .mdi-check {
              border-color: $accent;
            }
          }
          .mdi {
            &-drag-vertical {
              color: white;
              transition: color .5s ease;
            }
            &-check {
              border: 1px solid white;
              padding: 2px 6px;
              border-radius: 14px;
              transition: all .5s ease;
              &:hover {
                border: 1px solid $accent;
              }
            }
          }
        }
      }
    }
  }
  #task {
    .card {
      border: 1px solid $accent;
      .card-header {
        background-color: white;
        background-image: none;
        color: $accent;
        .mdi-check {
          border: 1px solid $light-bg;
          padding: 2px 6px;
          border-radius: 14px;
          transition: all .5s ease;
          &:hover {
            color: $accent;
            border: 1px solid $accent;
          }
        }
        .options {
          .mdi {
            border: 1px solid $light-bg;
            padding: 4px 6px;
            border-radius: 14px;
            transition: all .5s ease;
            &:hover {
              color: $accent;
              border: 1px solid $accent;
            }
          }
        }
        .close {
          margin-bottom: -6px;
        }
      }
      .card-block {
        .team {
          .assigned {
            height: 36px;
            width: 36px;
            border-radius: 36px;
            border: 1px solid $accent;
            text-align: center;
            padding: 6px 0 0 2px;
            margin: 0 4px 0;
          }
          i {
            background: $accent;
            border-radius: 14px;
            margin: 0 0 0 8px;
            padding: 2px 6px;
            transition: all .5s ease;
            &:hover {
              color: white;
              background: $accent-hover;
            }
          }
        }
        .flatpickr {
          margin-bottom: 0;
        }
        .task-title {
          margin: 2rem 1.5rem 1rem;
          p {
            color: $mute;
          }
        }
        .comment-group {
          .comment {
            padding: 20px 20px;
            border-bottom: 1px solid $light-bg;
            &:last-child {
              border-bottom: none!important;
            }
            .progress {
              height: .2rem;
              margin: .75rem 0 0;
              .progress-bar {
                background-color: $accent;
              }
            }
            p {
              margin: 1rem 1rem 0 0;
              color: $mute;
            }
            .placeholder-img {
              height: 100px;
              max-width: 100%;
              background-color: $light-bg;
              border-radius: 4px;
            }
          }
        }
        .checklist {
          .checklist-items {
            .form-check {
              &-input {
                margin-right: .5rem;
              }
            }
          }
        }
        .priority {
          .active {
            background-color: $accent;
            border-color: $accent;
            color: white;
          }
        }
      }
      .card-footer {
        border-top: none;
      }
    }
  }
}
