// Mixin
@mixin gradient-border($color1, $color2, $border-width, $direction) {
  border: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(#{$direction}, $color1 0%, $color2 100%), linear-gradient(#{$direction}, $color1 0%, $color2 100%);
  @if $direction == 'to right' or $direction == 'to left' {
    @if $direction == 'to right' {
      border-left: $border-width solid $color1;
      border-right: $border-width solid $color2;
    } @else {
      border-left: $border-width solid $color2;
      border-right: $border-width solid $color1;
    }
    background-position: 0 0, 0 100%;
    background-size: 100% $border-width;
  }

  @if $direction == 'to top' or $direction == 'to bottom' {
    @if $direction == 'to top' {
      border-top: $border-width solid $color2;
      border-bottom: $border-width solid $color1;
    } @else {
      border-top: $border-width solid $color1;
      border-bottom: $border-width solid $color2;
    }
    background-position: 0 0, 100% 0;
    background-size: $border-width 100%;
  }
}

// Flexbox
.flex {
  &-s {
    &-a {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    &-b {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &-c {
    &-c {
      display: flex!important;
      justify-content: center;
      align-items: center;
    }
    &-b {
      display: flex!important;
      justify-content: center;
      align-items: baseline;
    }
  }
  &-col {
    &-c {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}

// Spacing
.w {
  &-100 {
    width: 100%;
  }
  &-75 {
    width: 75%;
  }
  &-50 {
    width: 50%;
  }
  &-25 {
    width: 25%;
  }
}

// Animations
.slide {
  &-enter {
    opacity: 0;
    &-active {
      animation: slide-in .5s ease-out forwards;
      transition: all .5s;
    }
  }
}

.slide {
  &-leave-active {
    animation: slide-out .5s ease-out forwards;
    transition: all .5s;
    opacity: 0;
  }
  &-move {
    transition: all .5s;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(20px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(20px);
  }
}
