@import "./bootstrap";
@import "./variables";
@import "./bulma";
@import '~bulma';

@import "./global";


// Global
html {
  background-color: white!important;
}
.footer {
  background-color: white;
}

// Components
// Buttons
.btn:focus {
  box-shadow: none!important;
}
.btn-primary {
  background-color: $brand-primary!important;
}

// Cards
.card {
  box-shadow: 0 15px 35px rgba(50,50,93,.05), 0 5px 15px rgba(0,0,0,.05)!important;
}

// NavBar
.app-navbar {
  box-shadow: none;
}

#icons {
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .col-sm {
      width: 100%;
    }
  }
}
