// Variables
// Vue-Admin
$fa-font-path: '~font-awesome/fonts/';

// Custom
$brand-primary:      slateblue!important;

// Bulma Variables
$primary:               #7a7a7a;
$primary-hover:         #363636;
$accent:                #00d1b2;
